$green-light: #8BC34A;
$green-medium: #4CAF50;
$green-dark: #388E3C;
$red-light: #F44336;
$red-dark: #D32F2F;
$primary-color: #007bff;
$background-color: #dddfe1;
$background-sidebar: #c6c6cf;
$background-light: #f8f9fa;
$text-color: #212529;