.bg-sidebar {
  background: $background-sidebar;
  min-width: 250px;
  width: 30%;
  min-height: 100vh;
  height: auto;

  .nav-link {
    color: $text-color;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 0;

    &:not(:first-child) {
      margin-top: 20px;
    }

    span {
      padding-bottom: 4px;
    }

    &.active {
      font-weight: 700;

      span {
        border-bottom: 2px solid $green-dark;
      }
    }
  }
}
