.orders {
  .filter-product {
    padding: 40px 0;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &-icon {
    background-color: $green-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 3px solid $green-dark;
    color: $white;
  }

  .nav-pills {
    margin-bottom: 20px;

    .nav-link {
      display: flex;
      gap: 14px;
      background-color: $background-light;
      margin-bottom: 14px;
      position: relative;
      padding: 14px 20px;
      align-items: center;
      
      .arrow-right {
        display: none;
      }

      * {
        color: $text-color;
      }

      &.active {
        padding: 0 0 0 20px;

        .arrow-right {
          display: block;
          padding: 22px 14px;
          margin-left: auto;
          background-color: $background-sidebar;
          color: $white;

          &:before {
            color: $white;
          }
        }
      }

      .orders-product-value {
        display: flex;
        flex-direction: column;

        span.product-text {
          font-size: 10px;
          text-transform: uppercase;
          color: $background-sidebar;
        }

        .all-products {
          font-weight: 700;
        }
      }
    }
  }

  .tab-content {
    padding: 0;
  }

  .tab-pane {
    padding: 20px 10px;

    @include media-breakpoint-up(xxl) {
      background-color: $white;
    }
  }

  .row-orders {
    padding: 20px;

    @include media-breakpoint-up(xxl) {
      display: grid;
      grid-template-columns: 400px 1fr;
    }
  }

  .bi-list {
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $background-sidebar;
  }
}