.table {
  min-width: 600px;

  .product {
    &__image {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    &__status {
      position: relative;
      width: 10px;

      &--new,
      &--old {
        &:before {
          content: "";
          position: absolute;
          top: calc(50% - 8px);
          left: 4px;
          transform: translate(0, calc(50% - 4px));
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }

      &--new:before {
        background: $green-light;
      }

      &--old:before {
        background: $red-dark;
      }
    }

    &__serial {
      font-size: 12px;
      color: $background-sidebar;
    }

    &__price {
      .product__price-value--usd {
        color: $background-sidebar;
        font-size: 12px;
      }
    }

    &__guarantee {
      small {
        font-size: 12px;
        color: $background-sidebar;
      }
    }

    &__button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $red-dark;
      padding: 5px 10px;
      color: white;
      border: none;
      border-radius: 4px;
    }

    &__condition {
      &--new {
        color: $green-light;
      }

      &--old {
        color: $red-dark;
      }
    }
  }

  td,
  span {
    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }
}
